[Desktop Entry]
Version=1.0
Type=Application
Name=End Session
Comment=End Session
Exec=xfce4-session-logout &
Icon=system-shutdown
Path=
Terminal=false
StartupNotify=false
