[Desktop Entry]
Name=Carl
X-KDE-PluginInfo-Name=Carl
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
