[Desktop Entry]
Name=Nothing3
X-KDE-PluginInfo-Name=Nothing3
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
